.head-color {

    background-color: #000401;

}

.hero-header {

    color: #E5E8E8;

}

.head-par {
    color: #E5E8E8;
}

#foto-dino {

    border-radius: 100% 100% 100% 4%;
    
}

.body-general {

    background-color: #000401;
}

.bodygen-text {

    color: #E5E8E8;
}


.body-white {

    background-color: #ffffff;
}

.foot {
    background-color: #000401;
}